<%inherit file="../base.html" />
<%def name="title()">${video.name}</%def>
${error}
<%def name="css()">
<link href="/static/dashboard/css/videosub.css" rel="stylesheet" />
</%def>
<%def name="content()">
<%! 
    from django.shortcuts import reverse 
    from app.model.video import IdentityType, FromType
%>
<h1>${video.name}</h1>

% if video.from_to != 'custom':
<form id="video-edit-video-area" class="form-horizontal add-video-area" method="POST">
% else:
<form enctype="multipart/form-data" id="video-edit-video-area" class="form-horizontal add-video-area" method="POST">
% endif
    ${csrf_token}
    <p>视频修改区域</p>
    <div class="form-group">
        <label >视频地址</label>
        % if video.from_to != 'custom':
        <input id="url" type="text" class="form-control" name="url" placeholder="地址" >
        % else:
        <input id="url" type="file" class="form-control" name="url" placeholder="地址" >
        % endif
        <label >视频集数</label>
        <input id="number" type="number" class="form-control" name="number" placeholder="集数" >
        <input id="videosub-input-id" type="hidden" name="videosub_id" value="" >
    </div>
    <button type="submit" class="form-control">添加/修改</button>
</form>

<form id="video-edit-star-area" class="form-horizontal add-video-area" action="${reverse('dashboard_star')}" method="POST">
    ${csrf_token}
    <p>演员修改区域</p>
    <div class="form-group">
        <label >演员名称</label>
        <input id="name" type="text" class="form-control" name="name" placeholder="名称" >
    </div>
    <div class="form-group">
        <label >演员角色</label>
        <select id="identity" class="form-control edit-select" name="identity">
            %for identity in IdentityType:
            <option value="${identity.value}">${identity.label}</option>
            %endfor
        </select>
    </div>
    <input id="star-id" type="hidden" name="star_id" value="">
    <input  type="hidden" name="video_id" value="${video.id}">
    <button type="submit" class="form-control">添加/修改</button>
</form>

<h2>集数</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>集数</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
            %for videosub in video.video_sub.all():
            <tr>
            <td>第${videosub.number}集</td>
            % if FromType(video.from_to) == FromType.custom:
            <td><p class="url">${videosub.url or '处理中..'}</p></td>
            % else:
            <td><p class="url">${videosub.url}</p></td>
            % endif
            <td>
                <a class="btn btn-default" href="${videosub.url}">查看</a><br />
                <a class="btn btn-default" href="${reverse('dashboard_sub_delete', kwargs = {'video_id': video.id, 'sub_id':videosub.id})}">删除</a><br />
                <button class="btn btn-default update-video-btn" data-id="${videosub.id}" data-number="${videosub.number}" data-url="${videosub.url}">编辑</button>
            </td>
            </tr>
            % endfor
    </tbody>
</table>

<h2>演员</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>名称</th>
            <th>职务</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
            %for videostar in video.video_star.all():
            <tr>
            <td>${videostar.name}</td>
            <td>${IdentityType(videostar.identity).label}</td>
            <td>
                <a class="btn btn-default" href="${reverse('dashboard_star_delete', kwargs = {'video_id': video.id, 'star_id':videostar.id})}">删除</a><br />
                <button class="btn btn-default update-star-btn"  data-name="${videostar.name}" data-id="${videostar.id}" data-identity="${IdentityType(videostar.identity).value}">编辑</button>
            </td>
            </tr>
            % endfor
    </tbody>
</table>

</%def>

<%def name="js()">
    <script src="/static/dashboard/js/videosub.js"></script>
</%def>
